<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{main.css}" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Price</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.getId()}"></td>
            <td th:text="*{product.getName()}"></td>
            <td th:text="*{product.getPrice()}"></td>
            <td><a th:href="@{products/{id}/update(id=${product.getId()})}">update</a>
                <a th:href="@{products/{id}/delete(id=${product.getId()})}">delete</a>
            </td>
        </tr>
    </tbody>
</table>
<a th:href="@{products/create}">Add Product</a>

</body>
</html>